<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 10 minutes"
ExpiresByType image/x-icon "access 10 minutes"
ExpiresByType image/gif "access 10 minutes"
ExpiresByType image/png "access 10 minutes"
ExpiresByType image/jpeg "access 10 minutes"
ExpiresByType text/css "access 10 minutes"
ExpiresByType application/javascript "access 10 minutes"
Options -Indexes
</IfModule>